<div id="item-template" type="text/x-handlebars-template">

  <div class="row">
  
      <div class="span4 well" style="background-colour: ">
        <img src="http://c69282.r82.cf3.rackcdn.com/imagery_02_11_08_000112.jpg"></img>
        <p>Tavoitteet ovat Kimppatsempparin ydin. Alla on ohjeita kuinka teet
           tavoitteesta mahdollisimman hyvän.</p>
        <p>Jaa tavoite osiin. Jos tavoite on laihduttaa 10
           kiloa neljässä kuukaudessa, voi sopiva tarkistusväli on viikon välein.
           Tavoitteeksi kannattaa siis asettaa esim. 600 g per viikko. Tällöin
           neljän kuukauden kuluessa on laihdutettu noin 10 kiloa. Tavoitteen saavuttamisessa
           on tärkeintä pitkäjänteisyys. Kimppatsemppari muistuttaa sinua tekemään kirjaukset.
           Tee kirjaus vaikka et olisi pysynyt tavoitteessa!</p>
        <p>Kimppatsemppari mahdollistaa tavoitteen seurannan joko määrällisesti, tai
           kyllä / ei -vaihtoehdon avulla. Esim. viikon välein voidaan kertoa kuinka
           monta grammaa viikon aikana tarkalleen on laihduttu. Jos seurannassa
           ei haluta olla näin tarkkoja, voidaan kirjata vain pysyttiinkö viikon aikana tavoitteessa vai ei.</p>
      </div>
  
      <div class="span12 well">

         <div class="span4 well">
            <fieldset>
              <legend>Tavoitteet tiedot</legend>
              <label>Tavoitteen nimi</label><input id="name" type="text" value="{{#if this.name}}{{this.name}}{{/if}}"></input><br />
              <br />
              <label>Seuranta päättyy</label><input id="expirationDate" type="date" value="{{#if this.expirationDate}}{{this.expirationDate}}{{/if}}"></input> <br />
              
              <label>Kirjauksen otsikko</label><input id="entryTitleText" type="text" placeholder="Onnistuitko tavoitteessa?" value="{{#if this.entryTitleText}}{{this.entryTitleText}}{{/if}}"></input>
                <i rel="tooltip" data-toggle="tooltip" title="Kun tallennat tavoitteen välietapin, kerrot
              kuinka olet pysynyt tavoitteessa. Tämä kysymys on tavoitteeseesi räätälöity
              välietapin tarkistuskysymys. Esim. viikon välein voitaisiin kysyä: 'Kuinka monta grammaa laihdutit?'" class="icon-question-sign"></i><br />
              <label>Kirjausyksikkö</label><input id="entryUnitOfMeasure" type="text" placeholder="Jos tyhjä, niin ei tallenneta määriä" value="{{#if this.entryUnitOfMeasure}}{{this.entryUnitOfMeasure}}{{/if}}"></input>
                  <i rel="tooltip" data-toggle="tooltip" title="Jätä tämä tyhjäksi jos et halua kirjata määriä!
              Muussa tapauksessa aina kirjauksen yhteydessä tulee ilmoittaa jokin määrä. Esim. 'Laihduin 560 grammaa.'
              Tällöin kirjausyksikkö on 'grammaa'. Huom. Kirjattavan määrän tulee olla kokonaisluku! Tällöin
              esim. kirjausyksikkö 'Kg (kilogrammaa)' saattaisi olla liian karkealla tasolla." class="icon-question-sign"></i><br />
              <a id="toggleUomExtra" class="btn pull-left" title="Tarkemmat asetukset"><i class="icon-wrench"></i> Lisävalinnat</a><br /><br />
              <div id="uomExtra" style="display: none;">
                <label>Minimimäärä kirjausyksikölle</label><input id="entryMinAmount" class="input-small" type="number" value="{{#if this.entryMinAmount}}{{this.entryMinAmount}}{{/if}}{{#unless this.entryMinAmount}}0{{/unless}}"></input>
                  <i rel="tooltip" data-toggle="tooltip" title="Jos kirjausyksikkö on annettu, niin
              tällöin minimimäärä kirjausyksikölle on pienin sallittu kirjattava määrä. Yritys kirjata
              tätä pienempi määrä antaa virheilmoituksen ja kirjaus ei onnistu." class="icon-question-sign"></i><br />
                <label>Maksimimäärä kirjausyksikölle</label><input id="entryMaxAmount" class="input-small" type="number" value="{{#if this.entryMaxAmount}}{{this.entryMaxAmount}}{{/if}}{{#unless this.entryMaxAmount}}0{{/unless}}"></input>
                  <i rel="tooltip" data-toggle="tooltip" title="Jos kirjausyksikkö on annettu, niin
              tällöin maksimimäärä kirjausyksikölle on suurin sallittu kirjattava määrä. Yritys kirjata
              tätä suurempi määrä antaa virheilmoituksen ja kirjaus ei onnistu." class="icon-question-sign"></i><br />
                <label>Onnistumisen minimimäärä kirjausyksikölle</label><input id="entrySuccessMinAmount" class="input-small" type="number" value="{{#if this.entrySuccessMinAmount}}{{this.entrySuccessMinAmount}}{{/if}}{{#unless this.entrySuccessMinAmount}}0{{/unless}}"></input>
                  <i rel="tooltip" data-toggle="tooltip" title="Kimppatsemppari pitää kirjaa onnistuttiinko tavoitteessa vai ei. Jos kirjausyksikkö on annettu, niin kirjattavan määrän tulee olla suurempi tai yhtäsuuri kuin onnistumisen minimimäärä kirjausyksikölle jotta kirjaus laskettaisiin onnistumiseksi." class="icon-question-sign"></i><br />
                <label>Onnistumisen maksimimäärä kirjausyksikölle</label><input id="entrySuccessMaxAmount" class="input-small" type="number" value="{{#if this.entrySuccessMaxAmount}}{{this.entrySuccessMaxAmount}}{{/if}}{{#unless this.entrySuccessMaxAmount}}0{{/unless}}"></input>
                  <i rel="tooltip" data-toggle="tooltip" title="Jos kirjausyksikkö on annettu, niin kirjattavan määrän
                    tulee olla pienempi tai yhtäsuuri kuin onnistumisen maksimimäärä kirjausyksikölle jotta
                    kirjaus laskettaisiin onnistumiseksi. Tämä karsii syöttövirheistä johtuvia vääristymiä." class="icon-question-sign"></i><br />
                <label>Tagit</label><input id="tags" type="text" value="{{#if this.tags}}{{this.tags}}{{/if}}"></input> <br />
              </div>
              <label class="checkbox">
                <input id="isPublic" type="checkbox" {{#if this.isPublic}}checked{{/if}}>
                Tavoite muiden nähtävissä? <i rel="tooltip" data-toggle="tooltip" title="Mahdollisuus antaa muille lupa löytää oma tavoite ja seurata
              omaa tavoitteessa edistymistä." class="icon-question-sign"></i>
              </label>
            </fieldset>
            
            <a id="save" class="btn btn-primary"><i class="icon-ok icon-white"></i> Tallenna</a>
            
         </div>

         <div class="span4 well">
            <fieldset>
              <legend>Esimerkkitavoite</legend>
              <label>Tavoitteen nimi</label><strong><input type="text" placeholder="10 kg laihduttaminen"></input></strong><br />
              <label>Seuranta päättyy</label><input type="text" placeholder="01.10.2013"></input> <br />
              <label>Kirjauksen otsikko</label><input type="text" placeholder="Kuinka monta grammaa pudotit?"></input><br />
              <label>Kirjausyksikkö</label><input type="text" placeholder="grammaa"></input><br />
              <label>Minimimäärä kirjausyksikölle</label><input type="number" placeholder="0"></input><br />
              <label>Maksimimäärä kirjausyksikölle</label><input type="number" placeholder="2000"></input><br />
              <label>Onnistumisen minimimäärä kirjausyksikölle</label><input type="number" placeholder="300"></input><br />
              <label>Onnistumisen maksimimäärä kirjausyksikölle</label><input type="number" placeholder="2000"></input><br />
              
              <label>Tagit</label><input type="text" placeholder="laihdutus, esimerkki"></input> <br />
              <label class="checkbox">
                <input type="checkbox" value="" checked>
                Tavoite muiden nähtävissä?
              </label>
            </fieldset>
         </div>

      </div>

  </div>

</div>
