<div id="item-template" type="text/x-handlebars-template">

  <div class="row">
  
      <div class="span4 well" style="background-colour: ">
        <p>Tavoitteet ovat Kimppatsempparin ydin.</p>
      </div>
  
      <div class="span8 well">
      
        <a id="new-objective" href="#/new-objective" class="btn btn-large btn-primary" style="margin-bottom: 3%;"><i class="icon-plus icon-white"></i> Uusi tavoite</a>
        <br />
      
        <div class="row">
          <div class="span7">
            <table style="background: white;">
              <caption><h2>Tavoitteet</h2></caption>
              <thead>
                <th>Tavoite</th>
                <th>P채채ttyy</th>
                <th>Kirjauksia</th>
                <th>Toiminnot</th>
              </thead>
              <tbody>
                {{#each item}}
                <tr>
                  <td>{{this.name}}</td>
                  <td>{{this.expirationDate}}</td>
                  <td>{{this.entries.length}}</td>
                  <td>
                    <a id="{{this._id}}-edit-objective" title="Muokkaa tavoitetta" class="btn" href=".#/update-objective/{{this._id}}"><i class="icon-edit"></i></a>
                    <a id="{{this._id}}-delete-objective" title="Poista tavoite" class="btn"><i class="icon-trash"></i></a>
                    <a id="{{this._id}}-add-entry" class="btn btn-primary"><i class="icon-check icon-white"></i> Tee kirjaus</a>
                    <div id="{{this._id}}-entry-details" style="display: none;">
                      <h4>Kirjauksen tiedot</h4>
                      {{this.entryTitleText}}
                      {{#if this.entryUnitOfMeasure}}<input id="{{this._id}}-entry-uom" class="input-small" type="number" max={{this.entryMaxAmount}} min={{this.entryMinAmount}}></input> {{this.entryUnitOfMeasure}}{{/if}}
                      <a id="{{this._id}}-save-entry" class="btn btn-primary"><i class="icon-check icon-white"></i> Tallenna</a>
                    </div>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        
        </div>
      </div>  
  
   <div class="span4">
     <img src="http://c69282.r82.cf3.rackcdn.com/4K7F0360-1.jpg"></img>
   </div>
   <div class="span3">
     <strong>K채yt채 mobiililaitettasi kirjausten tekemiseen!</strong>
   </div>    
    
  </div>

</div>
