<div id="item-template" type="text/x-handlebars-template">

  <div class="row">
  
      <div class="span4 well" style="background-colour: ">
        <p>Tavoitteet ovat Kimppatsempparin ydin.</p>
      </div>
  
      <div class="span8 well">
      
        <a class="btn btn-large btn-primary" style="margin-bottom: 3%;"><i class="icon-plus icon-white"></i> Uusi tavoite</a>
        <br />
      
        <div class="row">

         <div class="span3 well">
            <strong>Nimi: {{this.name}}</strong>
            Kuvaus: {{this.description}}
            Päättyy: {{this.expirationDate}}
            Tagit: {{this.tags}}
            Julkinen: {{this.isPublic}}
            Luotu: {{this.createdTimestamp}}
         </div>
         <div class="span3 well">
           <strong>Nimi: {{this.name}}</strong>
            Kuvaus: {{this.description}}
            Päättyy: {{this.expirationDate}}
            Tagit: {{this.tags}}
            Julkinen: {{this.isPublic}}
            Luotu: {{this.createdTimestamp}}
          </div>

        </div>
      </div>  
  
    {{#each item}}
      <div class="span4">
        <strong>Nimi: {{this.name}}</strong>
        Kuvaus: {{this.description}}
        Päättyy: {{this.expirationDate}}
        Tagit: {{this.tags}}
        Julkinen: {{this.isPublic}}
        Luotu: {{this.createdTimestamp}}
      </div>
    {{/each}}
  </div>

</div>
