<div id="item-template" type="text/x-handlebars-template">

  <div class="row">
  
      <div class="span4 well" style="background-colour: ">
        <p>Tavoitteet ovat Kimppatsempparin ydin.</p>
      </div>
  
      <div class="span8 well">
      
        <a id="new-objective" class="btn btn-large btn-primary" style="margin-bottom: 3%;"><i class="icon-plus icon-white"></i> Uusi tavoite</a>
        <br />
      
        <div class="row">
        {{#each item}}
          <div class="span3 well">
            <strong>Nimi: {{this.name}}</strong>
            Kuvaus: {{this.description}}
            P채채ttyy: {{this.expirationDate}}
            Tagit: {{this.tags}}
            Julkinen: {{this.isPublic}}
            Luotu: {{this.createdTimestamp}}
            <br/>
            <a id="{{this._id}}-update" class="btn"><i class="icon-edit"></i> Muokkaa</a>
            <a id="{{this._id}}-add-entry" class="btn"><i class="icon-check"></i> Tee kirjaus</a>
          </div>
        {{/each}}
        </div>
      </div>  
  
   <div class="span4">
     <img src="http://c69282.r82.cf3.rackcdn.com/4K7F0360-1.jpg"></img>
   </div>
   <div class="span3">
     <strong>K채yt채 mobiililaitettasi kirjausten tekemiseen!</strong>
   </div>    
    
  </div>

</div>
